/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-image: url(../img/Bottle_Burglars_001.png); /* Светлый фон, напоминающий песок */
    background-position: center;
    color: #333;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Шапка сайта */
  header {
    background-color: rgba(80, 248, 241, 1); /* Ярко-желтый */
    position: relative; /* Для позиционирования вложенных элементов */
    padding: 45px 0;
    height: 120px; /* Установим фиксированную высоту шапки */
  }
  
  /* Контейнер для логотипа */
  header .logo {
    position: absolute; /* Логотип будет позиционироваться относительно родителя (header) */
    top: 50%; /* Центрируем логотип по вертикали */
    left: 50px; /* Логотип будет в левом углу */
    transform: translateY(-50%); /* Корректировка вертикального выравнивания */
  }
  
  /* Логотип */
  header .logo img {
    width: 80%; /* Растягиваем логотип по ширине шапки */
    border-radius: 30%;
  }

  header .logo h1 {
    font-size: 36px;
    color: #0077b6; /* Голубой */
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  header nav {
    text-align: right;
  }
  
  header nav ul {
    list-style: none;
    display: inline-flex;
    gap: 60px;
  }
  
  header nav ul li a {
    color: rgba(77, 4, 211, 0.6);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: rgba(77, 4, 211, 1);
  }
  
  /* Основной контент */
  main {
    height: 100vh;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h2 {
    font-size: 24px;
    color: #ffb600;
    margin-bottom: 20px;
  }

  
  
  /* Стиль для профиля */
  .profile {
    
    width: 1000px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .profile p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .profile p strong {
    color: #0077b6;
  }
  
  .profile button {
    background-color: #ffb600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .profile button:hover {
    background-color: #ff9c00;
  }
  
  /* Подвал */
  footer {
    background-color: rgba(80, 248, 241, 1); /* Голубой цвет */
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer a {
    color: #ffb600;
    font-weight: bold;
  }
  
  footer a:hover {
    color: #fff;
  }

.social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.social-links img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.social-links a:hover img {
  transform: scale(1.1); /* Увеличение при наведении */
}